////////////////// VARS //////////////////

// --- COLORS ---
$aa_blue: #63ADF2;
$aa_dark_blue: #2F4D6D;
$aa_green: #DCFCD8;

$notice_yellow: #FFF3CD;


$gray: #B5B5B5;
$white: #FFFFFF;
$dark_gray: #292929;
$black: #000000;
$off_white: #F7F9FB;
$light_gray: #F6F9FC;
$text_color: #47494A;
$border_color: #E6ECF2;

// UU RED RGB : rgb(197,18,48)

// --- FONTS ---
$ff-body: "Source Sans Pro", sans-serif;
$ff-head: "Montserrat", sans-serif;

// --- BREAKPOINTS ---
$mobile: 600px;
$tablet: 1200px;
$desktop: 1800px;

// --- GUTTERS FOR CARDS ---
$gutter: 15px;
